@use "./nav";
@use "./colors" as c;
@use "./fonts";

h2 {
  text-align: center;
  font-size: 2em;
  padding: 0.3em;
  margin-top: 2em;
}
h3,
a {
  font-size: 1.3em;
  margin: 0.3em;
}
h3 {
  font-family: dreamAvenue, sans-serif;
  font-weight: bold;
  text-align: center;
  color: c.$gold;
}
.teamWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  padding: 1em;
  margin: 1em;

  .card {
    box-shadow: 0 4px 8px 0 c.$white;
    color: c.$white;
    width: 200px;
  }

  img {
    width: 100%;
    border-radius: 2em;
  }

  .container {
    p {
      margin: 0.5em;
    }
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: c.$black;
      background-color: c.$white;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      border-radius: 2em;
    }

    .button:hover {
      background-color: c.$gold;
      color: c.$black;
      font-weight: bold;
    }
  }
}
