@use "./colors" as c;
@use "./fonts" as f;

h5 {
  font-family: dreamAvenue, sans-serif;
  color: c.$gold;
  text-align: center;
  font-size: 2.3em;
}

.content {
  &::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }
  &::-webkit-scrollbar-track {
    background: c.$black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: c.$gold;
    border-radius: 10px;
  }
}
#modalContent{
  display: grid;
  grid-template-columns: 35% 65%;
  img{
    height: 60vh;
  }
  #modalRightDiv{
    h6{
      display: flex;
      font-size: 25px;
      margin-top: 3.5em;
      text-align: left;
      span{
        margin-left: 0.5vw;
        font-size: 10px;
      }
      

    }
    p{
      display: flex;
      
        span{
          margin-left: 0.5vw;
        }
      }
  }
}