$color_1: #aaaaaa;
$color_2: #000;
$background-color_1: rgb(0,0,0);
$background-color_2: rgba(0,0,0,0.4);
$background-color_3: #fefefe;

/* The Modal (background) */
/* Modal Content */
/* The Close Button */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $background-color_1;
	background-color: $background-color_2;
}
.modal-content {
	background-color: $background-color_3;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.close {
	color: $color_1;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover {
		color: $color_2;
		text-decoration: none;
		cursor: pointer;
	}
	&:focus {
		color: $color_2;
		text-decoration: none;
		cursor: pointer;
	}
}
