.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  margin: 0.5rem;
  padding: 1em;
}
h1 {
  font-size: 6vw;
  margin: 0.5rem;
  display: inline;
  font-family: "Cookie";
  color: green;
}
.navbar-links {
  ul {
    margin: 0;
    padding: 1em;
    display: flex;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: blue;
      padding: 1rem;
      display: block;
      font-size: 1.8em;
      &:hover {
        background-color: green;
        color: white;
      }
    }
  }
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}
@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
    ul {
      width: 100%;
      flex-direction: column;
    }
    li {
      text-align: center;
      a {
        padding: 0.5rem;
      }
    }
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links.active {
    display: flex;
  }
}
