@use "./colors" as c;
@use "./fonts" as f;

.content {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100vw;
  overflow: auto;
  p {
    color: c.$white;
    text-align: right;
    padding: 1vh;
  }

  h3 {
    color: c.$white;
  }

  h4 {
    color: c.$white;
    text-align: center;
  }

  div {
    background-size: cover;
    height: 30vh;
    width: 13vw;
  }
}
span {
  display: block;
}
h2 {
  margin-top: 3.5em;
  color: c.$gold;
  text-align: center;
}
#tvChoice {
  background-color: c.$black;
  color: c.$gold;
  border: 2px solid c.$gold;
  border-radius: 10px;
  margin-left: 2em;
  outline: 0;
}
#modalContent{
  display: grid;
  grid-template-columns: 35% 65%;
  img{
    height: 60vh;
  }
  #modalRightDiv{
    h6{
      display: flex;
      font-size: 25px;
      margin-top: 3.5em;
      text-align: left;
      span{
        margin-left: 0.5vw;
        font-size: 10px;
      }
      

    }
    p{
      display: flex;
      
        span{
          margin-left: 0.5vw;
        }
      }
  }
}