@use "./nav";
@use "./aboutUs";
@use "./frontPage";
@use "./schedule";
@use "./footer";
@use "./modal";
@use "./colors" as c;
@use "./fonts" as f;

* {
  scroll-behavior: smooth;
}
body {
  background-color: c.$black;
  font-family: "Open Sans", sans-serif;
}

#camera-body,
#reel-1,
#reel-2 {
  fill: c.$gold;
  fill-opacity: 0.95;
  stroke: none;
}

#preloader {
  height: 100vh;
  color: c.$gold;
  display: flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-family: dreamAvenue, sans-serif;
    font-size: 3em;
    font-weight: bold;
    line-height: 2em;
  }
}
