@use "./nav";
@use "./aboutUs";
@use "./frontPage";
@use "./schedule";
@use "./footer";
@use "./modal";
@use "./colors" as c;
@use "./fonts" as f;

* {
  scroll-behavior: smooth;
}
body {
  background-color: c.$black;
  font-family: "Open Sans", sans-serif;
}
